/* Dirty CSS Reset :P */
* {
  margin:0;
  padding:0;
}

body {
  background-color: #E1E6EE;
}

main {
  padding:1em 1em 0 2em;
  margin-left: 20%;
  height:100%;
  color: #453C37;
}

header {
  border-right: 25px solid #666B6F;
  background-color: #AABFCF;
  position:fixed;
  width:18%;
  height:100%;
}

h1 {
  text-align:center;
  margin-top:1.5em;
}

h1 #logo {
  fill: #FFF;
  shape-rendering: crispEdges;
  transform: rotate(-45deg);
}

main h2 {
  margin:0.5em 0;
  text-transform: uppercase;
}

main li {
  list-style-type: square;
  margin-left:2em;
}

a {
  color:#6C6058;
}

a:hover {
  color:#738497;
}
