/* Dirty CSS Reset :P */
* {
  margin:0;
  padding:0;
}

body {
  background-color: #E1E6EE;
  font-family: "YuGothic M","Yu Gothic","游ゴシック","游ゴシック体", YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

@media screen and (min-width:800px) {
  main {
    margin-left: 20%;
  }
  header {
    position:fixed;
    width:18%;
    height:100%;
    border-right: 25px solid #666B6F;
    border-bottom:none;
  }
  h1 svg {
    width: 95px;
    height: 95px;
  }
}

main {
  padding:1em 1em 0 2em;
  height:100%;
  color: #453C37;
}

header {
  background-color: #AABFCF;
  border-bottom: 25px solid #666B6F;
}

h1 {
  text-align:center;
  padding-top:30px;
}

h1 #logo {
  fill: #FFF;
  shape-rendering: crispEdges;
  transform: rotate(-45deg);
}

main h2 {
  margin:0.5em 0;
  text-transform: uppercase;
}

main li {
  list-style-type: square;
  margin-left:2em;
}

a {
  color:#6C6058;
}

a:hover {
  color:#738497;
}
